NEXT_PUBLIC_API_KEY="0x123" # frontend key for the whitelist API
API_KEY="0x123" # backend key (same as public key)
STARKNET_RPC_URL="https://xyzP"
STARKNET_ACCOUNT_ADDRESS="0x0304..."
ACCOUNT_PRIVATE_KEY="0x01..."
STARKNET_CHAIN_ID="SN_SEPOLIA"
