SESSION_SECRET="7fe3fce960f0d3d028d05db6ce2051cb979572a0e57138674a07944503a12678"
STARKNET_RPC_URL="https://xyzP"
STARKNET_ACCOUNT_ADDRESS="0x0304..."
ACCOUNT_PRIVATE_KEY="0x01..."
STARKNET_CHAIN_ID="SN_SEPOLIA"
